@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
:root {
  --primary-blue: #0000ff;
}

.sam_campaign_card1 {
  height: 61.08652114868164px;
  width: 931.6936645507812px;
  left: 225.3193359375px;
  top: 40px;
  border-radius: 0px;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 14px 0px rgba(0, 0, 0, 0.07);
}
.sam_campaign_reporth4-1 {
  height: 19px;
  width: 257px;
  left: 1px;
  top: 1px;
  position: absolute;
  height: 19px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.3px;
  color: #252733;
}
.sam_campaign_reporth4-2 {
  height: 34px;
  width: 771px;
  left: 408px;
  top: 1px;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.3px;

  /* grayscale / black */

  color: #252733;
}
// card1 usedata details
.sam_campaign_reporth4-5 {
  height: 23.838645935058594px;
  width: 83.43524932861328px;
  left: 20.18353271484375px;
  top: 19.171875px;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;

  /* Sidebar Drops colour */

  color: #455a64;
}
.sam_campaign_reporth4-6 {
  height: 23.838645935058594px;
  width: 83.43524932861328px;
  left: 270.18353271484375px;
  top: 19.171875px;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;

  /* Sidebar Drops colour */

  color: #455a64;
}
.sam_campaign_reporth4-7 {
  height: 23.838645935058594px;
  width: 83.43524932861328px;
  left: 620.18353271484375px;
  top: 19.171875px;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;

  /* Sidebar Drops colour */

  color: #455a64;
}
.sam_campaign_reporth4-8 {
  height: 23.838645935058594px;
  width: 83.43524932861328px;
  left: 795.18353271484375px;
  top: 19.171875px;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;

  /* Sidebar Drops colour */

  color: #455a64;
}
.sam_campaignh3-34 {
  // height: 20px;
  width: 25.628231048583984px;
  left: 145.9529418945312px;
  top: 92.341796875px;
  position: absolute;
  border: 1px solid #c5c7cd;
  z-index: 7000;
  transform: rotate(90deg);
}
.sam_campaign_reporth4-9 {
  height: 25px;
  width: 83px;
  left: 20px;
  top: 20px;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;

  /* Inactive Box fill */

  color: rgba(196, 196, 196, 0.35);
}
.sam_campaign_reportarrowdown {
  height: 37.142709732055675px;
  width: 37.571355342864996px;
  left: 88.7999267578125px;
  top: 20.15625px;
  border-radius: 0px;
  position: absolute;
  color: #ffffff;
  transform: rotate(360deg);
  cursor: pointer;
}
::placeholder {
  height: 60.513959884643555px;
  width: 17.828332901000977px;
  left: 10.267333984375px;
  top: 5.455078125px;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  // z-index: 5000;
  cursor: pointer;
  /* White fill */
  color: #ffffff;
}
.sam_campaign_reporth4-11 {
  height: 24.513959884643555px;
  width: 62.399169921875px;
  left: 190.381103515625px;
  top: 23.455078125px;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: rgba(196, 196, 196, 0.35);
}
.sam_campaign_reporth4-12 {
  height: 24.513959884643555px;
  width: 62.399169921875px;
  left: 370.381103515625px;
  top: 23.455078125px;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: rgba(196, 196, 196, 0.35);
}

.sam_campaign_month1shape {
  height: 34px;
  width: 33.25px;
  left: 550.3739013671875px;
  top: 77px;
  border-radius: 0px;
  position: absolute;
  background: #2e3a59;
  z-index: 2000;
}
.sam_campaign_reporth4-14 {
  height: 24.513959884643555px;
  width: 62.399169921875px;
  left: 650.381103515625px;
  top: 23.455078125px;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  z-index: 2000;
  color: rgba(196, 196, 196, 0.35);
}

.sam_campaign_month2shape {
  height: 34px;
  width: 33.25px;
  left: 810.3739013671875px;
  top: 75px;
  border-radius: 0px;
  position: absolute;
  background: #2e3a59;
  z-index: 2000;
}
.sam_campaign_card2 {
  height: 70.52265167236328px;
  width: 931.6936645507812px;
  left: 225.3193359375px;
  top: 40.056640625px;
  border-radius: 0px;
  position: relative;

  background: #333333;
}
.sam_campaignh3-1 {
  height: 40.72434997558594px;
  width: 3.476468801498413px;
  left: 240.05419921875px;
  top: 2.93359375px;
  border-radius: 0px;
  position: absolute;
  background: rgba(170, 170, 170, 0.15);
}

.sam_campaignh3-2 {
  height: 40.72434997558594px;
  width: 3.476468801498413px;
  left: 387.6298828125px;
  top: 2.93359375px;
  border-radius: 0px;
  position: absolute;
  background: rgba(170, 170, 170, 0.15);
}

.sam_campaignh3-3 {
  height: 40.72434997558594px;
  width: 3.476468801498413px;
  left: 600.6298828125px;
  top: 2.93359375px;
  border-radius: 0px;
  position: absolute;
  background: rgba(170, 170, 170, 0.15);
}

.sam_campaignh3-4 {
  height: 40.72434997558594px;
  width: 3.476468801498413px;
  left: 770.6298828125px;
  top: 2.93359375px;
  border-radius: 0px;
  position: absolute;
  background: rgba(170, 170, 170, 0.15);
}

.sam_campaignh3-51 {
  height: 900.7392883300781px;
  width: 3.476468801498413px;
  left: 240.05419921875px;
  top: 1.08984375px;
  border-radius: 0px;
  position: absolute;

  background: rgba(170, 170, 170, 0.15);
}
.sam_campaignh3-62 {
  height: 900.7392883300781px;
  width: 3.476468801498413px;
  left: 390.05419921875px;
  top: 1.08984375px;
  border-radius: 0px;
  position: absolute;
  background: rgba(170, 170, 170, 0.15);
}

.sam_campaignh3-73 {
  height: 900.7392883300781px;
  width: 3.476468801498413px;
  left: 600.05419921875px;
  top: 1.08984375px;
  border-radius: 0px;
  position: absolute;
  background: rgba(170, 170, 170, 0.15);
}
.sam_campaignh3-84 {
  height: 900.7392883300781px;
  width: 3.476468801498413px;
  left: 770.05419921875px;
  top: 1.08984375px;
  border-radius: 0px;
  position: absolute;
  background: rgba(170, 170, 170, 0.15);
}

.sam_campaigncard3-report2 {
  height: 920px;
  width: 930px;
  left: 226.99853515625px;
  top: 40px;
  border-radius: 0px;
  position: relative;

  background: #f2f2f2;
  /* 100 250 10 */

  box-shadow: 100px 0px 250px rgba(0, 0, 0, 0.1);
}
.sam_campaigncard4 {
  height: 169.850341796875px;
  width: 239.87635803222656px;
  left: 6px;
  top: 40px;
  border-radius: 0px;
  position: absolute;
  background: #ffffff;
}

.sam_campaigncard5 {
  height: 169.850341796875px;
  width: 239.87635803222656px;
  left: 6px;
  top: 218.7890625px;
  border-radius: 0px;
  position: absolute;

  /* Blue - Header/main Texts - */

  background: #2214da;
}

.sam_campaigncard6 {
  height: 168.8570556640625px;
  width: 238.38648986816406px;
  left: 6px;
  top: 400.07421875px;
  border-radius: 0px;
  position: absolute;
  background: #ffffff;
}
.sam_campaigncard7 {
  height: 169.850341796875px;
  width: 239.87635803222656px;
  left: 6px;
  top: 578.96484375px;
  border-radius: 0px;
  position: absolute;

  background: #ffffff;
}
.sam_campaign_card8-report2 {
  left: 225.3193359375px;
  top: 40px;
  border-radius: 0px;
  position: relative;
  background: #333333;
  height: 61.08652114868164px;
  width: 931.6936645507812px;
}
.sam_campaign_smallret {
  height: 30.456565856933594px;
  width: 55.11375045776367px;
  left: 80.166015625px;
  top: 3.541015625px;
  border-radius: 4px;
  position: relative;
  z-index: 2000;
  border-radius: 4px;
}
.sam_campaign_longret1 {
  height: 50.456565856933594px;
  width: 177.1690673828125px;
  left: 377.41943359375px;
  top: 15.541015625px;
  border-radius: 4px;
  position: absolute;
  // background: #4f4f4f;
  border-radius: 4px;
  z-index: 2000;
}

.sam_campaign_longret2 {
  height: 43.456565856933594px;
  width: 177.1690673828125px;
  left: 635.9873046875px;
  top: 13.541015625px;
  border-radius: 4px;
  position: absolute;
  // background: #4f4f4f;
  border-radius: 4px;
  z-index: 2000;
}
.sam_campaign_smallsignal1 {
  height: 70.335281372070312px;
  width: 110.95206451416016px;
  left: -135.05859375px;
  top: 90.353515625px;
  border-radius: 0px;
  position: relative;
  z-index: 2000;

  //   box-shadow: 0px 40px 25px rgba(127, 29, 222, 0.25);
}

.sam_campaign_smallsignal2 {
  height: 70.335281372070312px;
  width: 120.95206451416016px;
  left: -135.05859375px;
  top: 280.353515625px;
  border-radius: 0px;
  position: absolute;
  z-index: 2000;

  //   box-shadow: 5px 5px 1px rgba(127, 29, 222, 0.25);
}
.sam_campaign_smallsignal3 {
  height: 70.335281372070312px;
  width: 120.95206451416016px;
  left: -135.05859375px;
  top: 460.353515625px;
  border-radius: 0px;
  position: absolute;
  z-index: 2000;

  //   box-shadow: 5px 5px 1px rgba(127, 29, 222, 0.25);
}
.sam_campaign_smallsignal4 {
  height: 70.335281372070312px;
  width: 120.95206451416016px;
  left: -135.05859375px;
  top: 640.353515625px;
  border-radius: 0px;
  position: absolute;
  z-index: 2000;

  //   box-shadow: 5px 5px 1px rgba(127, 29, 222, 0.25);
}

.sam_campaign_longgraph1 {
  height: 80.791580200195312px;
  width: 190.78309631347656px;
  left: 400.49853515625px;
  top: 16rem;
  border-radius: 0px;
  position: absolute;
  z-index: 2000;

  //   box-shadow: 0px 40px 25px rgba(127, 29, 222, 0.25);
}
.sam_campaign_longgraph2 {
  height: 80.791580200195312px;
  width: 190.78309631347656px;
  left: 400.49853515625px;
  top: 23rem;
  border-radius: 0px;
  position: absolute;
  z-index: 2000;

  //   box-shadow: 0px 40px 25px rgba(127, 29, 222, 0.25);
}
.sam_campaign_longgraph3 {
  height: 80.791580200195312px;
  width: 190.78309631347656px;
  left: 400.49853515625px;
  top: 30rem;
  border-radius: 0px;
  position: absolute;
  z-index: 2000;

  //   box-shadow: 0px 40px 25px rgba(127, 29, 222, 0.25);
}
.sam_campaign_longgraph4 {
  height: 80.791580200195312px;
  width: 190.78309631347656px;
  left: 400.49853515625px;
  top: 37rem;
  border-radius: 0px;
  position: absolute;
  z-index: 2000;

  //   box-shadow: 0px 40px 25px rgba(127, 29, 222, 0.25);
}
.sam_campaign_longgraph5 {
  height: 80.791580200195312px;
  width: 190.78309631347656px;
  left: 400.49853515625px;
  top: 45rem;
  border-radius: 0px;
  position: absolute;
  z-index: 2000;

  //   box-shadow: 0px 40px 25px rgba(127, 29, 222, 0.25);
}
.sam_campaign_longgraph6 {
  height: 80.791580200195312px;
  width: 190.78309631347656px;
  left: 400.49853515625px;
  top: 53rem;
  border-radius: 0px;
  position: absolute;
  z-index: 2000;

  //   box-shadow: 0px 40px 25px rgba(127, 29, 222, 0.25);
}
.sam_campaign_longgraph7 {
  height: 80.791580200195312px;
  width: 190.78309631347656px;
  left: 400.49853515625px;
  top: 61rem;
  border-radius: 0px;
  position: absolute;
  z-index: 2000;

  //   box-shadow: 0px 40px 25px rgba(127, 29, 222, 0.25);
}
.sam_campaign_longgraph8 {
  height: 80.791580200195312px;
  width: 190.78309631347656px;
  left: 400.49853515625px;
  top: 68rem;
  border-radius: 0px;
  position: absolute;
  z-index: 2000;

  //   box-shadow: 0px 40px 25px rgba(127, 29, 222, 0.25);
}

.sam_campaign_longgraph9 {
  height: 80.791580200195312px;
  width: 190.78309631347656px;
  left: 400.49853515625px;
  top: 76rem;
  border-radius: 0px;
  position: absolute;
  z-index: 2000;

  //   box-shadow: 0px 40px 25px rgba(127, 29, 222, 0.25);
}
.sam_campaign_longgraph10 {
  height: 80.791580200195312px;
  width: 190.78309631347656px;
  left: 400.49853515625px;
  top: 84rem;
  border-radius: 0px;
  position: absolute;
  z-index: 2000;

  //   box-shadow: 0px 40px 25px rgba(127, 29, 222, 0.25);
}
.sam_campaign_longgraph11 {
  height: 80.791580200195312px;
  width: 190.78309631347656px;
  left: 400.49853515625px;
  top: 93rem;
  border-radius: 0px;
  position: absolute;
  z-index: 2000;

  //   box-shadow: 0px 40px 25px rgba(127, 29, 222, 0.25);
}
.sam_campaign_longgraph12 {
  height: 80.791580200195312px;
  width: 190.78309631347656px;
  left: 400.49853515625px;
  top: 100rem;
  border-radius: 0px;
  position: absolute;
  z-index: 2000;

  //   box-shadow: 0px 40px 25px rgba(127, 29, 222, 0.25);
}
.sam_campaign_longgraph13 {
  height: 80.791580200195312px;
  width: 190.78309631347656px;
  left: 400.49853515625px;
  top: 106rem;
  border-radius: 0px;
  position: absolute;
  z-index: 5000;

  //   box-shadow: 0px 40px 25px rgba(127, 29, 222, 0.25);
}

.sam_campaigntotuph4-1 {
  height: 21.17910385131836px;
  width: 168.47015380859375px;
  left: 37.2164306640625px;
  top: 64.6875px;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;
  color: #455a64;
}
.sam_campaigntotuph4-2 {
  height: 20.21641731262207px;
  width: 88.5671615600586px;
  left: 35.291015625px;
  top: 95.6796875px;
  position: absolute;
  bottom: 74.26%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 33px;
  display: flex;
  align-items: center;
  color: #455a64;
}
.sam_campaign_orangearrow {
  height: 30.585058212280318px;
  width: 30.872285842895556px;
  left: 60.44091796875px;
  top: 120.15625px;
  border-radius: 0px;
  position: absolute;
  background: #dadada;
}
.sam_campaigntotuph4-3 {
  height: 21.17910385131836px;
  width: 168.47015380859375px;
  left: 35.2164306640625px;
  top: 46.716796875px;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;

  /* White fill */

  color: #ffffff;
}
.sam_campaigntotuph4-4 {
  height: 20.21641731262207px;
  width: 88.5671615600586px;
  left: 35.291015625px;
  top: 85.708984375px;
  border-radius: nullpx;
  position: absolute;
  /* H2 - Header 2 - 24pt Medium Roboto */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 33px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.sam_campaign_whitearrow {
  height: 30.585058212280273px;
  width: 30.872285842895508px;
  left: 55.4315185546875px;
  top: 110.85546875px;
  border-radius: 0px;
  position: absolute;
  background: #dadada;
}
.sam_campaigntotuph4-5 {
  height: 21.17910385131836px;
  width: 194.4626922607422px;
  left: 30px;
  top: 50px;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */

  display: flex;
  align-items: center;
  letter-spacing: 0.003em;

  /* Sidebar Drops colour */

  color: #455a64;
}
.sam_campaigntotuph4-6 {
  height: 20.21641731262207px;
  width: 88.5671615600586px;
  left: 35.291015625px;
  top: 90.701171875px;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 33px;
  display: flex;
  align-items: center;

  /* Sidebar Drops colour */

  color: #455a64;
}
.sam_campaign_greenarrow1 {
  height: 30.585058212280273px;
  width: 30.872285842895508px;
  left: 60.4315185546875px;
  top: 110.85546875px;
  border-radius: 0px;
  position: absolute;
  background: #dadada;
}
.sam_campaigntotuph4-7 {
  height: 21.17910385131836px;
  width: 168.47015380859375px;
  left: 30px;
  top: 40px;
  position: absolute;

  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */

  display: flex;
  align-items: center;
  letter-spacing: 0.003em;

  /* Sidebar Drops colour */

  color: #455a64;
}
.sam_campaigntotuph4-8 {
  height: 20.21641731262207px;
  width: 88.5671615600586px;
  left: 35.291015625px;
  top: 70px;

  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 33px;
  display: flex;
  align-items: center;

  /* Sidebar Drops colour */

  color: #455a64;
}
.sam_campaign_greenarrow2 {
  height: 30.585058212280273px;
  width: 30.872285842895508px;
  left: 60.4315185546875px;
  top: 100.85546875px;
  border-radius: 0px;
  position: absolute;
  background: #dadada;
}

.sam_campaignh3-9 {
  height: 2.979830741882324px;
  width: 922.828125px;
  left: 4.75341796875px;
  top: 70.666015625px;
  border-radius: 0px;
  position: absolute;
  background: rgba(68, 68, 68, 0.15);
}
.sam_campaignh3-10 {
  height: 2.979830741882324px;
  width: 922.828125px;
  left: 4.75341796875px;
  top: 140.666015625px;
  border-radius: 0px;
  position: absolute;
  background: rgba(68, 68, 68, 0.15);
}
.sam_campaignh3-11 {
  height: 2.979830741882324px;
  width: 922.828125px;
  left: 4.75341796875px;
  top: 214.666015625px;
  border-radius: 0px;
  position: absolute;
  background: rgba(68, 68, 68, 0.15);
}
.sam_campaignh3-12 {
  height: 2.979830741882324px;
  width: 922.828125px;
  left: 4.75341796875px;
  top: 290.666015625px;
  border-radius: 0px;
  position: absolute;
  background: rgba(68, 68, 68, 0.15);
}
.sam_campaignh3-13 {
  height: 2.979830741882324px;
  width: 922.828125px;
  left: 4.75341796875px;
  top: 366.666015625px;
  border-radius: 0px;
  position: absolute;
  background: rgba(68, 68, 68, 0.15);
}
.sam_campaignh3-14 {
  height: 2.979830741882324px;
  width: 922.828125px;
  left: 4.75341796875px;
  top: 450.666015625px;
  border-radius: 0px;
  position: absolute;
  background: rgba(68, 68, 68, 0.15);
}
.sam_campaignh3-15 {
  height: 2.979830741882324px;
  width: 922.828125px;
  left: 4.75341796875px;
  top: 520.666015625px;
  border-radius: 0px;
  position: absolute;
  background: rgba(68, 68, 68, 0.15);
}
.sam_campaignh3-16 {
  height: 2.979830741882324px;
  width: 922.828125px;
  left: 4.75341796875px;
  top: 600.666015625px;
  border-radius: 0px;
  position: absolute;
  background: rgba(68, 68, 68, 0.15);
}
.sam_campaignh3-17 {
  height: 2.979830741882324px;
  width: 922.828125px;
  left: 4.75341796875px;
  top: 680.666015625px;
  border-radius: 0px;
  position: absolute;
  background: rgba(68, 68, 68, 0.15);
}
.sam_campaignh3-18 {
  height: 2.979830741882324px;
  width: 922.828125px;
  left: 4.75341796875px;
  top: 760.666015625px;
  border-radius: 0px;
  position: absolute;
  background: rgba(68, 68, 68, 0.15);
}

.sam_campaignh3-19 {
  height: 2.979830741882324px;
  width: 922.828125px;
  left: 4.75341796875px;
  top: 840.666015625px;
  border-radius: 0px;
  position: absolute;
  background: rgba(68, 68, 68, 0.15);
}

.sam_campaignjanh5 {
  height: 23.838645935058594px;
  width: 161.9041290283203px;
  left: 20.6123046875px;
  top: 30.45703125px;
  position: absolute;
  bottom: 67.6%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;

  color: #222222;
}
.sam_campaignfebh5 {
  height: 23.838645935058594px;
  width: 161.9041290283203px;
  left: 20.6123046875px;
  top: 100.45703125px;
  position: absolute;
  bottom: 67.6%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;

  color: #222222;
}
.sam_campaignmarh5 {
  height: 23.838645935058594px;
  width: 161.9041290283203px;
  left: 20.6123046875px;
  top: 165.45703125px;
  position: absolute;
  bottom: 67.6%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;
  color: #222222;
}
.sam_campaignaprih5 {
  height: 23.838645935058594px;
  width: 161.9041290283203px;
  left: 20.6123046875px;
  top: 240.45703125px;
  position: absolute;
  bottom: 67.6%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;
  color: #222222;
}
.sam_campaignmayh5 {
  height: 23.838645935058594px;
  width: 161.9041290283203px;
  left: 20.6123046875px;
  top: 323.45703125px;
  position: absolute;
  bottom: 67.6%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;
  color: #222222;
}
.sam_campaignjunh5 {
  height: 23.838645935058594px;
  width: 161.9041290283203px;
  left: 20.6123046875px;
  top: 399.45703125px;
  position: absolute;
  bottom: 67.6%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;
  color: #222222;
}
.sam_campaignjulyh5 {
  height: 23.838645935058594px;
  width: 161.9041290283203px;
  left: 20.6123046875px;
  top: 476.45703125px;
  position: absolute;
  bottom: 67.6%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;
  color: #222222;
}
.sam_campaignaugh5 {
  height: 23.838645935058594px;
  width: 124.15959930419922px;
  left: 20.6123046875px;
  top: 550px;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;
  z-index: 5000;
  color: #222222;
}

.sam_campaignsepth5 {
  height: 23.838645935058594px;
  width: 124.15959930419922px;
  left: 20.6123046875px;
  top: 630px;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;
  z-index: 5000;
  color: #222222;
}
.sam_campaignocth5 {
  height: 23.838645935058594px;
  width: 124.15959930419922px;
  left: 20.6123046875px;
  top: 710px;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;
  z-index: 5000;
  color: #222222;
}
.sam_campaignnovh5 {
  height: 23.838645935058594px;
  width: 124.15959930419922px;
  left: 20.6123046875px;
  top: 795px;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;
  z-index: 5000;
  color: #222222;
}
.sam_campaigndech5 {
  height: 23.838645935058594px;
  width: 124.15959930419922px;
  left: 20.6123046875px;
  top: 865px;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;
  z-index: 5000;
  color: #222222;
}

.sam_campaigntotalh5 {
  height: 23.838645935058594px;
  width: 124.15959930419922px;
  left: 20.6123046875px;
  top: 930px;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;
  z-index: 2000;
  color: #ffffff;
}

.sam_campaign3-h5 {
  height: 23.838645935058594px;
  width: 74.49576568603516px;
  left: 270.4081420898438px;
  top: 32.46484375px;
  border-radius: nullpx;
  position: absolute;
  bottom: 67.7%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;

  color: #666666;
}
.sam_campaign4-h5 {
  height: 23.838645935058594px;
  width: 74.49576568603516px;
  left: 270.4081420898438px;
  top: 99.46484375px;
  border-radius: nullpx;
  position: absolute;
  bottom: 67.7%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;

  color: #666666;
}
.sam_campaign5-h5 {
  height: 23.838645935058594px;
  width: 74.49576568603516px;
  left: 270.4081420898438px;
  top: 170.46484375px;
  border-radius: nullpx;
  position: absolute;
  bottom: 67.7%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;

  color: #666666;
}
.sam_campaign6-h5 {
  height: 23.838645935058594px;
  width: 74.49576568603516px;
  left: 270.4081420898438px;
  top: 243.46484375px;
  border-radius: nullpx;
  position: absolute;
  bottom: 67.7%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;

  color: #666666;
}
.sam_campaign7-h5 {
  height: 23.838645935058594px;
  width: 74.49576568603516px;
  left: 270.4081420898438px;
  top: 320.46484375px;
  border-radius: nullpx;
  position: absolute;
  bottom: 67.7%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;

  color: #666666;
}
.sam_campaign8-h5 {
  height: 23.838645935058594px;
  width: 74.49576568603516px;
  left: 270.4081420898438px;
  top: 399.46484375px;
  border-radius: nullpx;
  position: absolute;
  bottom: 67.7%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;

  color: #666666;
}
.sam_campaign9-h5 {
  height: 23.838645935058594px;
  width: 74.49576568603516px;
  left: 270.4081420898438px;
  top: 475.46484375px;
  border-radius: nullpx;
  position: absolute;
  bottom: 67.7%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;

  color: #666666;
}
.sam_campaign10-h5 {
  height: 23.838645935058594px;
  width: 74.49576568603516px;
  left: 270.4081420898438px;
  top: 555.46484375px;
  border-radius: nullpx;
  position: absolute;
  bottom: 67.7%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;

  color: #666666;
}
.sam_campaign11-h5 {
  height: 23.838645935058594px;
  width: 74.49576568603516px;
  left: 270.4081420898438px;
  top: 637.46484375px;
  border-radius: nullpx;
  position: absolute;
  bottom: 67.7%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;

  color: #666666;
}
.sam_campaign12-h5 {
  height: 23.838645935058594px;
  width: 74.49576568603516px;
  left: 270.4081420898438px;
  top: 710.46484375px;
  border-radius: nullpx;
  position: absolute;
  bottom: 67.7%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;

  color: #666666;
}
.sam_campaign13-h5 {
  height: 23.838645935058594px;
  width: 74.49576568603516px;
  left: 270.4081420898438px;
  top: 790.46484375px;
  border-radius: nullpx;
  position: absolute;
  bottom: 67.7%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;

  color: #666666;
}
.sam_campaign14-h5 {
  height: 23.838645935058594px;
  width: 74.49576568603516px;
  left: 270.4081420898438px;
  top: 860.46484375px;
  border-radius: nullpx;
  position: absolute;
  bottom: 67.7%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;

  color: #666666;
}
.sam_campaign15-h5 {
  height: 23.838645935058594px;
  width: 74.49576568603516px;
  left: 270.4081420898438px;
  top: 930.46484375px;
  border-radius: nullpx;
  position: absolute;
  bottom: 67.7%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;
  z-index: 2000;
  color: #ffffff;
}

.sam_campaigncust1-h5 {
  height: 23.838645935058594px;
  width: 74.49576568603516px;
  left: 619.940673828125px;
  top: 30.46484375px;
  border-radius: nullpx;
  position: absolute;

  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */

  display: flex;
  align-items: center;
  letter-spacing: 0.003em;

  color: #666666;
}
.sam_campaigncust2-h5 {
  height: 23.838645935058594px;
  width: 74.49576568603516px;
  left: 619.940673828125px;
  top: 100.46484375px;
  border-radius: nullpx;
  position: absolute;

  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */

  display: flex;
  align-items: center;
  letter-spacing: 0.003em;

  color: #666666;
}
.sam_campaigncust3-h5 {
  height: 23.838645935058594px;
  width: 74.49576568603516px;
  left: 619.940673828125px;
  top: 170.46484375px;
  border-radius: nullpx;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */

  display: flex;
  align-items: center;
  letter-spacing: 0.003em;

  color: #666666;
}
.sam_campaigncust4-h5 {
  height: 23.838645935058594px;
  width: 74.49576568603516px;
  left: 619.940673828125px;
  top: 247.46484375px;
  border-radius: nullpx;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;
  color: #666666;
}
.sam_campaigncust5-h5 {
  height: 23.838645935058594px;
  width: 74.49576568603516px;
  left: 619.940673828125px;
  top: 320.46484375px;
  border-radius: nullpx;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;
  color: #666666;
}
.sam_campaigncust6-h5 {
  height: 23.838645935058594px;
  width: 74.49576568603516px;
  left: 619.940673828125px;
  top: 405.46484375px;
  border-radius: nullpx;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;
  color: #666666;
}
.sam_campaigncust7-h5 {
  height: 23.838645935058594px;
  width: 74.49576568603516px;
  left: 619.940673828125px;
  top: 479.46484375px;
  border-radius: nullpx;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;
  color: #666666;
}

.sam_campaigncust8-h5 {
  height: 23.838645935058594px;
  width: 74.49576568603516px;
  left: 619.940673828125px;
  top: 530.46484375px;
  border-radius: nullpx;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;
  z-index: 2000;
  color: #666666;
}
.sam_campaigncust9-h5 {
  height: 23.838645935058594px;
  width: 74.49576568603516px;
  left: 619.940673828125px;
  top: 633.46484375px;
  border-radius: nullpx;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;
  z-index: 2000;
  color: #666666;
}
.sam_campaigncust10-h5 {
  height: 23.838645935058594px;
  width: 74.49576568603516px;
  left: 619.940673828125px;
  top: 710.46484375px;
  border-radius: nullpx;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;
  z-index: 2000;
  color: #666666;
}
.sam_campaigncust11-h5 {
  height: 23.838645935058594px;
  width: 74.49576568603516px;
  left: 619.940673828125px;
  top: 790.46484375px;
  border-radius: nullpx;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;
  z-index: 2000;
  color: #666666;
}
.sam_campaigncust12-h5 {
  height: 23.838645935058594px;
  width: 74.49576568603516px;
  left: 619.940673828125px;
  top: 867.46484375px;
  border-radius: nullpx;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;
  z-index: 2000;
  color: #666666;
}

.sam_campaigncust13-h5 {
  height: 23.838645935058594px;
  width: 74.49576568603516px;
  left: 619.940673828125px;
  top: 922.46484375px;
  border-radius: nullpx;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;
  z-index: 2000;
  color: #ffffff;
}

.sam_campaignamount1-h5 {
  height: 23.838645935058594px;
  width: 72.0125732421875px;
  left: 790.287353515625px;
  top: 30.46484375px;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;
  color: #666666;
}

.sam_campaignamount2-h5 {
  height: 23.838645935058594px;
  width: 72.0125732421875px;
  left: 790.287353515625px;
  top: 100.46484375px;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;
  color: #666666;
}
.sam_campaignamount3-h5 {
  height: 23.838645935058594px;
  width: 72.0125732421875px;
  left: 790.287353515625px;
  top: 170.46484375px;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;
  color: #666666;
}
.sam_campaignamount4-h5 {
  height: 23.838645935058594px;
  width: 72.0125732421875px;
  left: 790.287353515625px;
  top: 250.46484375px;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;
  color: #666666;
}
.sam_campaignamount5-h5 {
  height: 23.838645935058594px;
  width: 72.0125732421875px;
  left: 790.287353515625px;
  top: 320.46484375px;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;
  color: #666666;
}
.sam_campaignamount6-h5 {
  height: 23.838645935058594px;
  width: 72.0125732421875px;
  left: 790.287353515625px;
  top: 410.46484375px;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;
  color: #666666;
}
.sam_campaignamount7-h5 {
  height: 23.838645935058594px;
  width: 72.0125732421875px;
  left: 790.287353515625px;
  top: 480.46484375px;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;
  color: #666666;
}
.sam_campaignamount8-h5 {
  height: 23.838645935058594px;
  width: 72.0125732421875px;
  left: 790.287353515625px;
  top: 530.46484375px;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;
  color: #666666;
  z-index: 2000;
}

.sam_campaignamount9-h5 {
  height: 23.838645935058594px;
  width: 72.0125732421875px;
  left: 790.287353515625px;
  top: 630.46484375px;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;
  color: #666666;
  z-index: 2000;
}
.sam_campaignamount10-h5 {
  height: 23.838645935058594px;
  width: 72.0125732421875px;
  left: 790.287353515625px;
  top: 710.46484375px;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;
  color: #666666;
  z-index: 2000;
}
.sam_campaignamount11-h5 {
  height: 23.838645935058594px;
  width: 72.0125732421875px;
  left: 790.287353515625px;
  top: 790.46484375px;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;
  color: #666666;
  z-index: 2000;
}
.sam_campaignamount12-h5 {
  height: 23.838645935058594px;
  width: 72.0125732421875px;
  left: 790.287353515625px;
  top: 860.46484375px;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;
  color: #666666;
  z-index: 2000;
}
.sam_campaignamount13-h5 {
  height: 23.838645935058594px;
  width: 72.0125732421875px;
  left: 790.287353515625px;
  top: 925.46484375px;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.003em;
  color: #ffffff;
  z-index: 2000;
}

.sam_campaign_downloadbtn2 {
  height: 41px;
  width: 196px;
  left: 960px;
  top: 60px;
  border-radius: 3px;
  position: relative;
  background: #2214da;
  color: #ffffff;
}

.sam_campaign_downloadarrow2 {
  height: 30.5px;
  width: 30.25px;
  left: 728.375px;
  top: 70.75px;
  border-radius: 0px;
  position: relative;
  background: #2e3a59;
  z-index: 5000;
  cursor: pointer;
}
