@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

:root {
  font-size: 100%;
  font-size: 16px;
  line-height: 1.5;
  --primary-blue: #0000ff;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
form input[type="password"] {
  display: block;
  height: 2rem;
  width: 10rem;
  box-sizing: border-box;
  border: none;
  padding: 0.6rem;
  margin-bottom: 0.8rem;
  font-size: 0.875rem;
  background: #f5f5f5;
  margin: 0.6rem 0.5rem;
}
.sam_form-container {
  text-align: center;
  position: relative;
  align-items: center;
  margin: 10rem auto;
  width: 50vw;
  height: 85vh;
  box-shadow: 2px 2px 15px #888888;
}

.sam_logo {
  position: absolute;
  left: 47.78%;
  right: 47.78%;
  top: 10.68%;
  bottom: 82.93%;
  margin-bottom: 10rem;
  border-radius: 50%;
  background: #2214da;
}

.sam_create-newpassword {
  text-align: center;
  align-self: center;
  align-content: center;
  align-items: center;
  margin: 2rem 5rem;
}

.sam_createnewplabel {
  position: absolute;
  display: flex;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  font-weight: 200;
  margin-left: -2rem;
  top: 90px;
}
.samnewpass_input-container .password {
  position: relative;
}

.sam_pwd-h3 {
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 18px;
  font-weight: 500;
  padding-top: 2rem;
}

.sampwd-h4 {
  margin-bottom: 2rem;
  margin-top: 2.7rem;
  font-size: 18px;
  font-weight: 500;
  padding-top: 2rem;
}
.samcreate_signup-btn {
  position: absolute;
  display: block;
  width: 27.7vw;
  background: var(--primary-blue);
  color: white;
  font-weight: 700;
  border: none;
  padding: 0.6rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 1rem;
  left: 8rem;
}
