.campaign-page {
    position: relative;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 2px;
    width: 788.81px;
    height: 131.17px;



    &__top-1 {
        position: absolute;
        height: 15.42px;
        left: 13px;
        right: 614.87px;
        top: calc(50% - 15.42px / 2 - 28.29px);

        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        letter-spacing: 0.3px;
        color: rgba(0, 0, 0, 0.37);
    }

    &__top-2 {
        position: absolute;
        height: 15.42px;
        left: 311.87px;
        right: 316px;
        top: calc(50% - 15.42px / 2 - 28.29px);
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        letter-spacing: 0.3px;

        color: rgba(0, 0, 0, 0.37);
    }

    /* title */
    &__top-3 {
        position: absolute;
        height: 15.42px;
        left: 577.87px;
        right: 50px;
        top: calc(50% - 15.42px / 2 - 28.29px);

        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        text-align: right;
        letter-spacing: 0.3px;

        /* Off white Text box inactive 000000 37% */

        color: rgba(0, 0, 0, 0.37);
    }

    &__below-first {
        position: absolute;
        left: 5.78%;
        right: 90.23%;
        top: 38.42%;
        bottom: 37.66%;
        background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
    }

    &__below-second {
        position: absolute;
        left: 11.25%;
        right: 53.86%;
        top: 47.73%;
        bottom: 47.73%;
        background: rgba(196, 196, 196, 0.35);
        border-radius: 3px;
    }

    &__below-third {
        position: absolute;
        left: 47.88%;
        right: 48.13%;
        top: 38.42%;
        bottom: 37.66%;

        background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
    }

    &__below-fourth {
        position: absolute;
        left: 53.6%;
        right: 11.5%;
        top: 47.73%;
        bottom: 47.73%;

        /* Inactive Box fill */

        background: rgba(196, 196, 196, 0.35);
        border-radius: 3px;
    }

    &__below-fifth {
        position: absolute;
        left: 89.98%;
        right: 6.03%;
        top: 38.42%;
        bottom: 37.66%;
        background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
    }

    .text_input {
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */

        text-align: center;
        letter-spacing: 0.3px;
        color: #2214DA;
    }





}


.setup-campaign {
    margin-top: 7rem;
    position: relative;
    width: 788.81px;
    height: 740.3px;
    left: 97px;
    top: 0px;
    padding: 30px;

    background: #FFFFFF;
    border-radius: 2px;

    .eclipse {
        position: absolute;
        width: 50px;
        height: 50px;
        left: 47px;
        top: 31px;
    }

    .text-fore {
        position: absolute;
        height: 15.42px;
        left: 119px;
        right: 538.87px;
        top: 55px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.3px;

        color: #2214DA;
    }

    &-form-areas {
        position: absolute;
        top: 120px;
        left: 50px;
        width: 688.81px
    }

    &__parent-box {
        width: 616.29px;
        height: 124.33px;
        margin: 0 auto;
        background: #FFFFFF;
        border-radius: 2px;
        padding: 8rem 0px;

        .boxes {
            background: #FFFFFF;
            border: 1px solid rgba(0, 0, 0, 0.21);
            box-sizing: border-box;
            height: 124.33px;
            padding-top: 4rem;
            padding-bottom: 4rem;
            padding-right: 9rem;
            padding-left: 8rem;
            border-radius: 2px;
            margin-bottom: 4rem;

            .upload-text {
                font-family: Roboto;
                font-style: normal;
                font-weight: 700;
                text-align: center;
                font-size: 14px;
                line-height: 16px;
                text-align: center;
                padding-right: 3rem;
                letter-spacing: 0.3px;
                color: #2E3A59;
            }

            .sub-text {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                text-align: center;
                letter-spacing: 0.3px;

                color: #2E3A59;
            }
        }

    }


}

.campaign-estimate {
    position: absolute;
    background-color: #fff;
    border-radius: 2px;
    width: 788.81px;
    height: 476.17px;
    left: 110px;
    padding: 50px;
    background: #FFFFFF;
    border-radius: 2px;

    .stats {
        font-family: Roboto;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.3px;

        color: #0B132A;

        .bal {
            background: linear-gradient(0deg, #DDF2FF, #DDF2FF), #DDF2FF;
            padding: 10px 0px;

            font-family: Roboto;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.3px;

            color: #2214DA;
        }
    }

    .lead {
        font-family: Roboto;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.3px;

        color: #2214DA;
    }

    .text-fore {
        position: absolute;
        height: 15.42px;
        left: 119px;
        right: 538.87px;
        top: 70px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.3px;

        color: #2214DA;


    }

    &__estimate {
        position: absolute;
        top: 140px;
        left: 63px;
        right: 60px;


        &-box {
            position: absolute;
            width: 616.29px;
            height: 84.46px;
            left: 25px;
            top: 197px;
            background: #DDF2FF;
            border-radius: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.schedule-part {
    margin-top: 25rem;

    &-area {}
}

.choose_template {


    .template-card {
        background-color: #f9f9f9;
        height: 946px;
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 70px;
        margin: 0 auto;
        width: 1000px;

        &-add {
            margin: 0 auto;
        }

    }
}

.schedule_part {
    margin-top: 55rem;
    margin-left: 15rem;
    margin-right: 18rem;


    div {
        margin-bottom: 2rem;
    }

    .lead {
        font-family: Roboto;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.3px;

        color: #2214DA;
    }


    .circle-option {
        background: white;
        border-radius: 50%;
        width: 35px;
        border: 3px solid #2214DA;
        height: 35px;
    }

    &-box1 {
        width: 697.06px;
        height: 124.33px;
        padding: 40px 45px;
        background: #FFFFFF;
        border-radius: 2px;

    }

    &-box2 {
        width: 697.06px;
        height: 388.53px;
        padding: 40px 45px;
        background: #FFFFFF;
        padding: 50px 45px;
        border-radius: 2px;

    }

    &-box3 {
        width: 697.06px;
        padding: 40px 45px;
        height: 191.13px;
        background: #FFFFFF;
        border-radius: 2px;

    }

    &-select {
        background: #BEE1FF;
        border-radius: 6px;
        border: 1px solid #BEE1FF;
        width: 13rem;
        padding-top: 2px;
        text-align: center;
        margin-left: auto;
        margin-top: 0;
    }

    .info-text {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-align: right;
        letter-spacing: 0.3px;

        color: #000000;
    }


}



.campaign-history {

    background-color: white;
    border: 2px solid white;
    height: 236px;
    padding-top: 0px;
    padding-left: 30px;
    padding-bottom: 30px;
    margin-top: 2rem;
    position: relative;
    top: 5px;
    left: 0px;
    background: #FFFFFF;
    border-radius: 2px;

    &-top {
        margin-right: 4rem;
        display: flex;
        justify-content: space-between;

    }

    &-subtop {
        p {
            font-family: Roboto;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;

            /* Off white Text box inactive 000000 37% */

            color: rgba(0, 0, 0, 0.37);
        }
    }

    .title {
        margin-top: 3rem;
        margin-right: auto;
    }



}

.table-part {
    margin-top: 7px;
}