@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

.samm_text-container {
  text-align: center;
  position: relative;
  align-items: center;
  margin: 10rem auto;
  width: 30vw;
  height: 40vh;
  box-shadow: 2px 2px 15px #dddddd;
}

.sam_h2recovery {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #2c2929;
  margin: 2rem 5.7rem;
}
.sam-precovery {
  position: absolute;
  width: 20rem;
  height: 8rem;
  left: 3rem;
  top: 7rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #4f4f4f;
  margin: 0 auto;
}

.samm_logo {
  position: absolute;
  left: 46.78%;
  right: 5.78%;
  top: 8.68%;
  bottom: 5.93%;
  margin-bottom: 1rem;
  border-radius: 50%;
  background: #2214da;
}
