@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
:root {
  --primary-blue: #0000ff;
}

.sam_apiintegration_container {
  border-radius: 2px;
  position: relative;
  width: 1100.02px;
  height: 701.4px;
  left: 32px;
  top: 90px;
  background: #ffffff;
  border-radius: 2px;
}

.sam_apiintegration_arrowup {
  position: absolute;
  height: 40.97056388854982px;
  width: 40.949788093566903px;
  left: 997.4853515625px;
  top: 40px;
  color: #2e3a59;
  transform: rotate(360deg);
}
