.temp{
}

.card-block {
  width: 282.19px;
  position: relative;
  height: 416px;
  position: absolute;
width: 282.19px;
height: 416px;
left: 248px;
top: 276px;
}


.card-box-top {
    position: absolute;
    width: 268.25px;
    height: 193.14px;
    left: 255px;
    top: 277.43px;
    
    background: #FFFFFF;
    border-radius: 2px;
}

.card-box-below {
    position: absolute;
    width: 282.19px;
    height: 318px;
    left: 248px;
    top: 374px;
    
    background: rgba(197, 199, 205, 0.31);
    border-radius: 2px;
}
